@import 'global';
.box
{
    position: block;    
    margin:0 auto;
    margin-Top: "10px";
    width: 100%;
    margin:0 auto;
    color: "#494949";
}
.Banner
{
    height: 200px;
    position: relative;
    .Media
    {
        background-color: white;
        height: 100%;
        overflow: hidden;

        position: relative;

        .MediaCaption
        {
            text-overflow: ellipsis;

            position: absolute;
            bottom: 0;

            padding: 15px;

            background-color: black;
            color: white;
            opacity: 0.6;

            width: 100%;
            height: 10%;

            font:
            {
                size: $header-font-size;
                weight: 200;
            }

            transition: 300ms;
            cursor: pointer;
            &:hover
            {
                opacity: 0.8;
            }
            
        }

        transition: 300ms;
        cursor: pointer;
        &:hover
        {
            filter: brightness(100%);
        }
    }

    .BannerGrid
    {
        height: 100%;
    }

    .Content
    {
        color: white;
        background-color: $dark-red;
        height: 100%;

        cursor: pointer;

        padding: 30px;

        transition: 300ms;

        &:hover, &:active
        {
            background-color: $dark-red-active;

            .ViewButton
            {
                background-color: $almost-white;
                color: $dark-red
            }
        }

        .Title
        {
            @media screen and (max-width: 480px){
                font-size: 15px;
                font-weight: 500;
                
            }
            @media screen and (min-width: 500px) {
                font-size: $bigger-font-size;
                font-weight: 500;
            }
            
        }

        .Caption
        {
            margin-top: 10px;
            @media screen and (max-width: 480px){
                font-size: 12px;
            }
            @media screen and (min-width: 500px) {
                font-size: $normal-font-size;
            }
        }

        .ViewButton
        {
            margin-top: 10px;
            color: white;

            @media screen and (max-width: 480px){
                font-size: 12px;
            }
            @media screen and (min-width: 500px) {
                font-size: $normal-font-size;
            }
            border: 3px solid white;
            text-transform: capitalize;

            transition: 200ms;
        }
    }
}